<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBx2mBeHdyE4fngY5daB9i4IXK79Zy8_lA&libraries=places"></script>
<div id="home">
    <nav>
    <ul>
      <li><a href="/">DUI</a></li>
    </ul>
    <ul>
      <li><a href="/view">Explore</a></li>
      <li><a href="/enter">Add</a></li>
      <li><a href="/">About</a></li>
    </ul>
  </nav>
    <div class="beer-enter">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="enter-h1">{{msg}}</h1>
                    <h2>Happy Hour Coordinator</h2>
                    <form class="clearfix mb-4" action="POST">
                        <div class="form-group">
                            <label for="name-text">Name!</label>
                            <input type="text" id="name-text" class="form-control" aria-describedby="example-text"
                                placeholder="Please enter name of the discovered happy hour">
                        </div>
                        <div class="form-group">
                            <label for="address-text">Address!</label>
                            <input type="text" id="address-text" class="form-control" aria-describedby="example-text"
                                placeholder="Please enter address">
                            <label for="duration-text">Duration!</label>
                            <input type="text" id="duration-text" class="form-control" aria-describedby="example-text"
                                placeholder="Please enter duration">
                            <label for="drinks-text">Drinks!</label>
                            <input type="text" id="drinks-text" class="form-control" aria-describedby="example-text"
                                placeholder="Please enter drinks">
                            <label for="food-text">Food!</label>
                            <input type="text" id="food-text" class="form-control" aria-describedby="example-text"
                                placeholder="Please enter food">
                        </div>
                        <div class="form-group">
                            <label for="description-text">Description</label>
                            <textarea class="form-control" id="description-text" aria-describedby="example-description"
                                placeholder="Why is this place so amazing?"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="pictures-text">PICTURES</label>
                            <input type="text" id="pictures-text" class="form-control" aria-describedby="example-text"
                                placeholder="Upload pictures here so we know you this magical place is tangible and accessible">
                        </div>
                        <button id="submit" class="btn btn-primary float-right">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    function initialize() {
        var input = document.getElementById('address-text');
        new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    console.log('input');

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="form-group">
                    <label for="pictures-text">PICTURES</label>
                    <form id="imgForm" action="/upload" method="post" enctype="multipart/form-data"
                        target="hidden-form">
                        <input class="form-control-file" type="file" accept="image/*" name="photo">
                        {{!-- <IFRAME style="display:none" name="hidden-form"></IFRAME> --}}
                        <input id="imgUpload" class="btn mt-3" type="submit" value="upload">
                    </form>
                    <p id="img display"></p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

        $("#submit").on("click", uploadNewEntry);

        // function to post new entry to api
        function uploadNewEntry(event) {
            event.preventDefault();
            console.log("hahahahahhaha");

            dataToSubmit = {
                hh_name: $("#name-text").val().trim(),
                hh_address: $("#address-text").val().trim(),
                hh_duration: $("#duration-text").val().trim(),
                hh_drinks: $("#description-text").val().trim(),
                hh_food: $("#food-text").val().trim(),
                hh_description: $("#description-text").val().trim()
            }
            console.log(dataToSubmit);
            $.post("/api/happyhour", dataToSubmit, function (data, status) {
                console.log("entry added:");
                console.log(data);
            });
            location.href = "/view"
        };


        var iFrame = document.getElementsByName("photo");
        var form = document.getElementById("#imgForm");

        iFrame.onload = function () {
            console.log("tester mc testerson");
            
        };

        form.submit();

    </script>