<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 class = "animated bounce">{{msg}}</h1>
        <h2>This is our Home Page!</h2>
          <a href='/enter'><button class="btn btn-primary">Enter new happy hour</button></a>
          <a href='/view'><button class="btn btn-primary">View all happy hour</button></a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
