<div id="home">
      <header>LOGO</header>
  <div class="beer">
    <div class="info-box animated fadeInLeft">
      <div class="welcome-box">
        <h1>{{msg}}<img src="https://i.ibb.co/yWxKt0B/martini.png" alt="martini" border="0"></h1>

      </div>
      <h2 class="index-h2">Drinks, U & I</h2>
      <a href='/enter'><button class="btn">Enter new happy hour</button></a>
      <a href='/view'><button class="btn">View all happy hour</button></a>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>