<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>Upload form page</h2>


                <div class="container">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <div class="form-group">
                                <br>

                                <label for="pictures-text">Upload</label>
                                <form id="imgForm" action="/upload" method="post" enctype="multipart/form-data"
                                    target="hidden-form">
                                    <input class="form-control-file" type="file" accept="image/*" name="photo">
                                    <IFRAME style="display:none" name="hidden-form"></IFRAME>
                                    <input id="imgUpload" class="btn mt-3" type="submit" value="upload">
                                </form>
                                <p id="img display"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                <script>
                    $("#imgUpload").on("click", uploadNewImg);

                    // function to post new entry to api
                    function uploadNewImg(event) {
                        event.preventDefault();
                        console.log("image uploaded");
                        imageInfo ={
                            $("#imgForm").val().trim();
                        }
                        console.log(imageInfo)
                    };
                </script>