<div id="home">
    <nav>
        <ul>
            <li><a href="/">DUI</a></li>
        </ul>
        <ul>
            <li><a href="/view">Explore</a></li>
            <li><a href="/enter">Add</a></li>
            <li><a href="/">About</a></li>
        </ul>
    </nav>
    <div class="beer">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1>{{msg}}</h1>
                    <h2>Upload pictures page</h2>

                    <br>

                    <form class="clearfix mb-4" action="POST">
                        <div class="form-group">
                            <label for="name-text">Name!</label>
                            <input type="text" id="name-text" class="form-control" aria-describedby="example-text"
                                placeholder="Please enter name of the discovered happy hour">
                            <br>
                            <div class="form-group">
                                <label for="pictures-text">PICTURES</label>
                                <input type="file" id="fileElem" multiple accept="image/*" style="display:none"
                                    onchange="handleFiles(this.files)">
                                <a href="#" id="fileSelect">Select some files</a>
                                <div id="fileList">
                                    <p>No files selected!</p>
                                </div>

                            </div>
                        </div>
                        <button id="submit" class="btn btn-primary float-right">Submit</button>




                        {{!-- <div class="container">
                    <div class="row">
                        <div class="col-8 offset-2">
                            <div class="form-group">
                                <br>

                                <label for="pictures-text">Upload</label>
                                <form id="imgForm" enctype="multipart/form-data" target="hidden-form" method= POST>
                                    <input class="form-control-file" type="file" accept="image/*" name="photo">

                </form>
                <div id="created"></div>
            </div>
        </div>
    </div>
</div> --}}

                        {{!-- <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                <script>
                    $('#imgForm').submit(function () { // catch the form's submit event
                        console.log("recognized input, attempting to put in div");
                        $.ajax({ // create an AJAX call...
                            data: $(this).serialize(), // get the form data
                            type: $(this).attr('method'), // GET or POST
                            url: $(this).attr('action'), // the file to call
                            success: function (response) { // on success..
                                $('#created').html(response); // update the DIV
                            }
                        });
                        return false;
                    });
                </script> --}}

                        <script>

                            // Script for upload to keep the folders clean
                            window.URL = window.URL || window.webkitURL;

                            const fileSelect = document.getElementById("fileSelect"),
                                fileElem = document.getElementById("fileElem"),
                                fileList = document.getElementById("fileList");

                            fileSelect.addEventListener("click", function (e) {
                                if (fileElem) {
                                    fileElem.click();
                                }
                                e.preventDefault(); // prevent navigation to "#"
                            }, false);

                            function handleFiles(files) {
                                if (!files.length) {
                                    fileList.innerHTML = "<p>No files selected!</p>";
                                } else {
                                    fileList.innerHTML = "";
                                    const list = document.createElement("ul");
                                    fileList.appendChild(list);
                                    for (let i = 0; i < files.length; i++) {
                                        const li = document.createElement("li");
                                        list.appendChild(li);

                                        const img = document.createElement("img");
                                        img.src = window.URL.createObjectURL(files[i]);
                                        img.height = 60;
                                        img.onload = function () {
                                            window.URL.revokeObjectURL(this.src);
                                        }
                                        li.appendChild(img);
                                        const info = document.createElement("span");
                                        info.innerHTML = files[i].name + ": " + files[i].size + " bytes";
                                        li.appendChild(info);
                                    }
                                }
                            }


                        </script>
                        <script type="text/javascript"
                            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                        <script src="/js/index.js"></script>